.button{
    width: 48%;
    height: 70px;
    background: none;
    font-size: 20px;
    border: 1px solid red;
    margin: 1%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover{
    background-color: red;
}